#dropdownMenuButton1 {
    padding: 10px 50px;
    margin: 20px;
    background-color: white;
}


.navbar{
    padding: 0 !important;
}

.contenedor-menu{
    padding: 0 !important;
}

.col1{
    text-align: center;
    color: white;
    font-size: 1.5vw;
    text-decoration:none;
    margin: 0;
    padding: 20px 0;
}

.links-menu:hover {
    color:white;
    background-color: #036469;
}



